@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

a:hover{
  cursor: pointer;
}
:root {
  --primary-color: #0d5aad;
  --secondary-color: #8D5CF6;
  --white-color: #FFFFFF;
  --text-color: #FFFFFF;
}

body {
  background-image: url("/fondo.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Rubik', sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}



